<div class="card" style="width: 100;">
  <div class="card-body">
    <h3 class="card-title text-center">Profil</h3>
  </div>
  <%= cl_image_tag (@user.photo.present? ? @user.photo.key : "logo.png"), class: "" %>
  <ul class="list-group list-group-flush">
    <li class="list-group-item text-center"><%= @user.alias %></li>
    <li class="list-group-item text-center"><%= @user.first_name %> <%= @user.last_name %></li>
    <li class="list-group-item text-center"><%= @user.power %></li>
    <li class="list-group-item text-center"><%= @user.role%></li>
    <li class="list-group-item text-center"><%= @user.email %></li>
  </ul>
  <% if @user == current_user %>
    <div class="card-body">
      <%= link_to 'modificatatation', edit_user_registration_path, class:"card-link"  %>
    </div>
  <% end %>
</div>
