<div class="container" data-controller="reservation-validation">
  <div class="row">
    <h1 class="pb-4">My reservations :</h1>
    <% @reservations.each do |reservation| %>
      <div class="col-4">
        <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-text"><%= reservation.service.title %></h5>
            <p class="card-text"> <i class="fa-solid fa-mask"></i> <%= reservation.service.user.alias %></p>
            <p class="card-text"> <i class="fa-sharp fa-solid fa-calendar"></i> <%= reservation.start_at %> - <%= reservation.end_at %></p>
            <p class="card-text"> <i class="fa-solid fa-location-dot"></i> <%= reservation.address %></p>
            <p class="card-text border p-1  "><i class="fa-solid fa-message"></i> <%= reservation.message %></p>
            <%if policy(Reservation).destroy? %>
              <%= link_to reservation_path(reservation), data: {turbo_method: :delete, turbo_confirm: "Are you sure ?"} do %>
              Destroy this reservation
              <% end %>
            <% end %>
        </div>
        </div>
      </div>
    <% end %>
  </div>


  <div class="row">
   <h1 class="pt-4 pb-4">My bookings :</h1>
    <% @services.each do |service| %>
      <% service.reservations.each do |reservation| %>
        <div class="col-4">
          <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-text"><%= reservation.service.title %></h5>
              <p class="card-text"> <i class="fa-solid fa-mask"></i> <%= reservation.user.first_name %> <%= reservation.user.last_name %></p>
              <p class="card-text"> <i class="fa-sharp fa-solid fa-calendar"></i> <%= reservation.start_at %> - <%= reservation.end_at %></p>
              <p class="card-text"> <i class="fa-solid fa-location-dot"></i> <%= reservation.address %></p>
              <p class="card-text border p-1  "><i class="fa-solid fa-message"></i> <%= reservation.message %></p>
              <div data-reservation-validation-target="accepted" class=<%= reservation.accepted ? "d-none" : "hello" %> >
              <% if policy(Reservation).edit? %>
                <%= simple_form_for([reservation.service, reservation], data: { reservation_validation_target: "form", action: "submit->reservation-validation#send" })  do |f| %>
                  <%= f.submit label: "Accept this reservation?"%>
                <% end %>
              <% end %>
              </div>
              <div class=<%= reservation.accepted ? "hello" : "d-none" %> data-reservation-validation-target="accepted">
                Reservation accepted
              </div>

              <%if policy(Reservation).destroy? %>
                <%= link_to reservation_path(reservation), data: {turbo_method: :delete, turbo_confirm: "Are you sure ?"}, class: "btn btn-danger" do %>
                Destroy this reservation <% end %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
